In [1]:
import sqlite3

In [62]:
conn = sqlite3.connect('theNameOfTheDataBase.db')
c =conn.cursor()

c.execute('''DROP TABLE employees''')

c.execute('''CREATE TABLE employees (names text unique,salary real,roomNumber int)''')

conn.commit()
conn.close()

In [64]:
conn = sqlite3.connect('theNameOfTheDataBase.db')
c = conn.cursor()

c.execute("INSERT INTO employees VALUES ('Philip J. Fry',1000.0,1)")
c.execute("INSERT INTO employees VALUES ('Turanga Leela',10000.0,2)")
c.execute("INSERT INTO employees VALUES ('Bender Bending Rodriguez',100.0,3)")
c.execute("INSERT INTO employees VALUES ('Amy Wong',10000.0,2)")

conn.commit()
conn.close()

IntegrityError: UNIQUE constraint failed: employees.names

In [26]:
conn = sqlite3.connect('theNameOfTheDataBase.db')
c = conn.cursor()

c.execute("UPDATE employees SET salary=2000.0 WHERE names='Philip J. Fry'")

conn.commit()
conn.close()

In [33]:
conn = sqlite3.connect('theNameOfTheDataBase.db')
c = conn.cursor()

print list(c.execute('SELECT * FROM employees WHERE names="Philip J. Fry" OR roomNumber>1 ORDER BY roomNumber'))

conn.commit()
conn.close()

[(u'Philip J. Fry', 2000.0, 1), (u'Turanga Leela', 10000.0, 2), (u'Amy Wong', 10000.0, 2), (u'Bender Bending Rodriguez', 100.0, 3)]

In [34]:
conn = sqlite3.connect('theNameOfTheDataBase.db')
c = conn.cursor()

print list(c.execute('SELECT * FROM employees WHERE names="Amy Wong" UNION SELECT * FROM employees WHERE salary<5000.0'))

conn.commit()
conn.close()

[(u'Amy Wong', 10000.0, 2), (u'Bender Bending Rodriguez', 100.0, 3), (u'Philip J. Fry', 2000.0, 1)]

the awesome tutorial:
    http://www.tutorialspoint.com/sqlite/index.htm

In [44]:
conn = sqlite3.connect('theNameOfTheDataBase.db')
c = conn.cursor()


#c.execute('''DELETE FROM employees WHERE names="Philip J. Fry"''')
c.execute('''ALTER TABLE employees ADD COLUMN "title" "text"''')

conn.commit()
conn.close()

In [55]:
conn = sqlite3.connect('theNameOfTheDataBase.db')
c = conn.cursor()

c.execute('UPDATE employees SET title="regular employee" WHERE salary>0.0')

conn.commit()
conn.close()

In [65]:
conn = sqlite3.connect('theNameOfTheDataBase.db')
c = conn.cursor()


print list(c.execute('SELECT * FROM employees'))

conn.commit()
conn.close()

[(u'Philip J. Fry', 1000.0, 1), (u'Turanga Leela', 10000.0, 2), (u'Bender Bending Rodriguez', 100.0, 3), (u'Amy Wong', 10000.0, 2)]

In [66]:
print True

True

In [70]:
myBool=False
if(myBool==False):
    print "yeah!"
x=12
print (x>10)

yeah!
True

In [73]:
class Agent():
    def __init__(self):
        self.genome=[0,0,0,1,1,1,0,0]

myAgent=Agent()
print myAgent.genome

[0, 0, 0, 1, 1, 1, 0, 0]

In [74]:
population=list()
for i in range(10):
    population.append(Agent())

In [77]:
print population[0].genome

[0, 0, 0, 1, 1, 1, 0, 0]

In [79]:
for i in range(16):
    genome=list()
    for j in range(4):
        genome.append(((i>>j)&1))
    print genome

[0, 0, 0, 0]
[1, 0, 0, 0]
[0, 1, 0, 0]
[1, 1, 0, 0]
[0, 0, 1, 0]
[1, 0, 1, 0]
[0, 1, 1, 0]
[1, 1, 1, 0]
[0, 0, 0, 1]
[1, 0, 0, 1]
[0, 1, 0, 1]
[1, 1, 0, 1]
[0, 0, 1, 1]
[1, 0, 1, 1]
[0, 1, 1, 1]
[1, 1, 1, 1]